
<body class="main_body">
	<div class="layui-layout layui-layout-admin">
		<!-- 顶部 -->
		{include file='top'}
		<!-- 左侧导航 -->
		{include file='left'}
		<!-- 右侧内容 -->
		<div class="layui-body layui-form">
			<div class="layui-tab marg0" lay-filter="bodyTab">
				<ul class="layui-tab-title top_tab">
					<li class="layui-this" lay-id=""><i
						class="iconfont icon-computer"></i> <cite>后台首页</cite></li>
				</ul>
				<div class="layui-tab-content clildFrame">
					<div class="layui-tab-item layui-show">
						<iframe src="/admin/main"></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="layui-footer footer">
			<p>
				copyright @2017 请叫我马哥 更多模板：<a href="http://www.mycodes.net/"
					target="_blank">源码之家</a>
			</p>
		</div>
	</div>

	<!-- 锁屏 -->
	
</body>
</html>