<body class="childrenBody">
	<div class="row">
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">更新日志</blockquote>
			<div class="layui-elem-quote layui-quote-nm">
				<h3># 1.0.9_rls （发行版） - 2017-03-01</h3>
				<p>* checkbox复选框原始风格支持不显示文字（之前会默认显示：勾选）</p>
				<p>* 进度条超出100%情况下的自动处理</p>
				<p>* 修复Tab选项卡在出现下拉按钮时，点击最后的几个选项卡未能正常切换的bug</p>
				<p>* 修复select组件搜索选择时会先显示之前的值再替换新的值的不良体验</p>
				<p>* 修复默认进度条0%时，文本出现太过于左侧的问题</p>
				<br />
				<p># 1.0.9</p>
				<p>* 新增“折叠面板”页面元素及相关事件监听</p>
				<p>* select组件增加搜索匹配功能，通过参数 lay-search 开启</p>
				<p>* checkbox组件增加原始风格样式，通过设置 lay-skin="primary" 开启（跟系统自带的类似样貌）</p>
				<p>* 升级 layer弹层组件到 3.0.2 （ layer3.0.2更新日志 ）</p>
				<p>* 表单元素增加属性 lay-ignore ,设置后，将不会对该标签进行美化渲染，即保留系统风格</p>
				<p>* 开关增加两种状态的自定义文本，通过参数 lay-text="ON|OFF" 开启</p>
				<p>* 修复Tab选项卡嵌套的Tab没有对应的内容结构时，切换到了父级内容的bug</p>
				<p>* 修复Tab选项卡容器中使用下拉框时，被溢出隐藏的问题</p>
				<p>* 修复Tab选项卡溢满情况下，点击展开按钮，再在外部添加一个选项卡出现异常的bug</p>
				<p>* Tab选项卡部分UI细节优化</p>
				<p>* Tab选项卡的tabAdd增加id参数，用于在删除和切换时，以id作为匹配媒介</p>
			</div>
		</div>
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>当前版本</td>
						<td class="version">{$Think.THINK_VERSION}</td>
					</tr>
					<tr>
						<td>开发作者</td>
						<td class="author"><a href="18211167516@163.com">baichonghua</a></td>
					</tr>
					<tr>
						<td>网站首页</td>
						<td class="homePage">/admin/index/index</td>
					</tr>
					<tr>
						<td>服务器环境</td>
						<td class="server">{$Think.server.SERVER_SOFTWARE}</td>
					</tr>
					<tr>
						<td>数据库版本</td>
						<td class="dataBase">{:db()->query('select version() as version')[0]['version']}</td>
					</tr>
					<tr>
						<td>最大上传限制</td>
						<td class="maxUpload">2M</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
	var API_URL = "{$Think.config.API_URL}"
	</script>
	<!-- <script type="text/javascript" src="/static/admin/js/main.js"></script> -->
</body>
</html>